<div *ngIf="cartItems.length === 0" class="alert alert-info">В корзине пусто</div>

<ul *ngIf="cartItems.length > 0" class="list-group">
    <li class="list-group-item" *ngFor="let item of cartItems">
        <app-cart-item [cartItem]="item" [isDeletable]= "true"></app-cart-item>
    </li>

    <li class="list-group-item active">
        <strong>Итого: </strong> {{ cartTotal | currency: '₽'}}
    </li>

    <button type="button" class="btn checkout-button" (click)="handleMoveToCheckOut()">Оформить заказ</button>
</ul>