/* You can add global styles to this file, and also import other style files */
.cart-item{
    font-size: small;
}

.list-group-item:first-child{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group-item:last-child{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.product-btn{
    font-size: smaller;
}

.remove-btn{
    font-size: smaller;
    background-color: #af99ff;
    margin-right: 0;
    margin-left:auto;
    display:grid;
}

.btn-login-header{
    margin-right: 0;
    margin-left:auto;
    display:grid;
}

.orders-header{
    margin-right: auto;
    margin-left:20px;
    display: grid;
}

.auth-header {
    text-decoration:solid;
    margin-right: 5px;
    margin-left:auto;
    display:grid;
}

.itemName{
    font-size:x-large;
    color: black;
}

.page_404{ 
    padding:40px 0;
    background:#fff;
    font-family: 'Arvo', serif;
}

.page_404  img { 
    width:100%;
}

.four_zero_four_bg{
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
}
 
 
.four_zero_four_bg h1{
    font-size:80px;
}
 
.four_zero_four_bg h3{
	font-size:80px;
}
			 
.link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #4526b6;
    margin: 20px 0;
    display: inline-block;
}

.contant_box_404{
    margin-top:-50px;
}

.fancy-header {
    font-family: 'Luminari', fantasy;
    font-weight: 900;
    font-style: oblique;
}

.checkout-button {
    color: black;
    font-weight: 900;
    background-color: green;
}

.guest-form-card h2 {
    text-transform: uppercase;
    font-size: medium;
  }
  
  .guest-form-card label {
    font-size: small;
  }
  
  .btn-primary.disabled, .btn-primary:disabled {
    cursor: not-allowed;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
